* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  padding: 10px;
  background:
    radial-gradient(
      circle at 0% 0%,
      rgba(255, 0, 255, 0.2) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgba(255, 0, 255, 0.164) 0%,
      transparent 40%
    ),
    radial-gradient(circle at center, #1e281c 0%, #000000 100%);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin: 0;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 0.02rem;
  cursor: crosshair;
}

.top-header {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  padding: 0 40px;
  min-height: 80px;
}

.cart-chip {
  position: fixed;
  right: 40px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2px;
  z-index: 20;
  cursor: crosshair;
}

.cart-chip img {
  width: 40px;
  height: auto;
  filter: brightness(0) saturate(100%) invert(70%) sepia(12%) saturate(2500%)
    hue-rotate(40deg);
  transition:
    filter 0s ease,
    transform 0s ease;
}

.cart-chip img:hover {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(30%) sepia(80%) saturate(5000%)
    hue-rotate(280deg);
  cursor: crosshair;
  transition:
    filter 0s,
    transform 0s;
}

.cart-count {
  color: rgb(155, 254, 7);
  transition:
    color 0s,
    text-shadow 0s;
}

.cart-chip:hover .cart-count {
  color: #ff00ff;
  text-shadow: 0 0 10px #ff00ff;
  transition:
    color 0s,
    text-shadow 0s;
}

.cart-chip.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateX(50px);
  transition: all 0.3s ease;
}

.matrix-title {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(20px);
  animation: dropIn 0.01s forwards;
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    text-shadow: 0 0 10px rgba(155, 254, 7, 0.849);
  }
}

.terminal-block {
  display: inline-block;
  width: 16px;
  background-color: rgba(155, 254, 7, 0.748);
  margin-left: 5px;
  vertical-align: middle;
  opacity: 0;
  animation:
    appear 0.1s forwards,
    blink 1s infinite steps(1);
  animation-delay: inherit;
  box-shadow: 0 0 10px rgba(155, 254, 7, 0.7);
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.left-nav {
  position: fixed;
  top: 0;
  left: -320px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  border-right: 2px solid rgb(155, 254, 7);
  padding: 100px 40px;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.left-nav p:hover {
  border-radius: 5px;
  transition: all 0.3 ease;
  color: rgb(155, 254, 7);
  padding-left: 20px;
  text-shadow:
    2px 0 rgba(255, 0, 255, 0.7),
    -2px 0 rgba(0, 255, 255, 0.7);
  letter-spacing: 2px;
}

.left-nav p .decode {
  opacity: 0;
  visibility: hidden;
  margin-left: -10px;
  transition: all 0.6s ease;
}

.left-nav p:hover .decode {
  visibility: visible;
  opacity: 1;
  margin-left: 10px;
}

.left-nav.open {
  transform: translateX(320px);
}

.menu-scanner {
  top: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 160px;
  height: 50px;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 2000;
  animation: framePulse 3s infinite;
}

.scanner-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(155, 254, 7);
  box-shadow: 0 0 15px rgb(155, 254, 7);
  animation: scan 3s linear infinite;
  opacity: 0.7;
}

.scanner-text {
  color: rgb(155, 254, 7);
  letter-spacing: 2px;
  z-index: 2;
  text-shadow: 0 0 5px rgb(155, 254, 7);
}

@keyframes scan {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

@keyframes framePulse {
  0%,
  100% {
    border-color: rgba(155, 254, 7, 0.2);
  }
  50% {
    border-color: rgba(155, 254, 7, 0.8);
    box-shadow: 0 0 10px rgba(155, 254, 7, 0.2);
  }
}

.menu-scanner:hover {
  background: rgba(155, 254, 7, 0.1);
  border-color: rgb(155, 254, 7);
}

.market-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
  gap: 1rem;
  padding: 60px;
  align-items: start;
}

.product-card {
  border-radius: 10px;
  border: 2px solid white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  transition: all 0.3s ease;
}

.product-card:hover {
  cursor: crosshair;
  transform: scale(1.02);
  border-color: rgb(155, 254, 7);
}

.product-card img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}

.product-card-description {
  padding: 15px;
  text-align: center;
}

.product-card-description h3 {
  color: rgb(155, 254, 7);
  margin: 0;
  height: 2rem;
}

.product-card-description p {
  display: none;
  margin-top: 15px;
  color: white;
  line-height: 1.4;
  border-top: 1px solid rgb(155, 254, 7);
  padding-top: 10px;
}

.product-card.active {
  grid-row: span 2;
}

.product-card.active p {
  display: block;
}

.price {
  display: block;
  margin-top: 20px;
}

.buy-button {
  cursor: pointer;
  margin-top: 10px;
  background-color: rgb(93, 255, 6);
  font-weight: bolder;
}

.cart-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -600px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  border-left: 2px solid rgb(155, 254, 7);
  padding: 16px;
  transition: right 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.cart-sidebar.open {
  right: 0;
  width: 540px;
}

#closeCart {
  background: transparent;
  position: absolute;
  color: black;
  top: 15px;
  right: 15px;
  background-color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 1001;
}

#closeCart:hover {
  background: #ff5aff;
  color: white;
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
}

.cart-header h2 {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  position: relative;
  font-size: 1.2rem;
  color: rgb(155, 254, 7);
  letter-spacing: 4px;
}

.blink {
  animation: blinker 2.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.back-to-cart-btn {
  display: flex;
  color: rgb(155, 254, 7);
  cursor: pointer;
  position: absolute;
  margin: 15px;
  left: 15px;
  top: 0;
}

.back-to-cart-btn .arrow {
  font-size: 1.4rem;
}

.arrow:hover {
  color: #ff00ff;
  transform: translateX(-5px);
}

.cart-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.checkout-btn {
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  background: #ff00ff;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Orbitron", monospace;
  font-weight: 700;
  font-size: 0.85rem;
}

.checkout-btn:hover {
  background: rgb(155, 254, 7);
  color: black;
}

#cartSidebar .checkout-form-block input,
#cartSidebar .checkout-form-block button,
#cartSidebar .checkout-form-block label {
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
}

.checkout-form-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
}

.contact-form p {
  font-size: 1.2rem;
}

.contact-form input {
  background-color: #061f02;
  color: white;
  width: 100%;
  padding: 8px;
  border: 1px solid #00ff41;
  caret-color: #ff00ff;
}

.shipping-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.shipping-section p {
  font-size: 1.2rem;
}

.ship-option input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ff00ff; 
  background: #061f02;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  margin-top: 5px;
}

.ship-option input[type="radio"]:checked {
  background-color: rgb(155, 254, 7);
  border-color: rgb(155, 254, 7);
  box-shadow: 0 0 10px rgb(155, 254, 7);
}

.ship-option input[type="radio"]:checked::after {
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.method-description {
  font-style: italic;
  color: #888;
  text-align: center;
}

.ship-option {
  display: flex;
  padding: 15px;
  cursor: pointer;
}

.delivery-method-name {
  color: #ff00ff;
  font-family: "", monospace;
  font-size: 0.95rem;
}

.option-content {
  padding: 5px;
}

.option-price {
  color: #ff00ff;
  margin-left: 5px;
}

.checkout-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 120px;
}

.final-checkout-price {
  display: flex;
  gap: 5px;
}

.confirm-order-btn {
  display: block;
  margin: 0 auto;
  background-color: #ff00ff;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 0.85rem;
}

.confirm-order-btn:hover {
  background-color: rgb(155, 254, 7);
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(155, 254, 7, 0.4);
  border-top: 1px solid rgba(155, 254, 7, 0.1);
  margin: 100px auto 0 auto;
}

.footer p {
  font-size: 0.75rem;
  letter-spacing: 5px;
  padding-left: 5px;
  text-shadow: 0px 0px 2px rgba(155, 254, 7, 0.2);
}